.tops .title {
    color: black;
    font-size: 36px;
    font-weight: 500;
    display: block;
    /* padding: 15px; */
    margin-left: 216px;
    margin-top: 6px;
  
    position: fixed;
  
  }
  
  /* title */
 .image img {
    border-radius: 50%;
    height: 50px;
    /* width: 175vh;
    height: 15vh;
    display: flex;
    flex-direction: row-reverse; */
    /* width: 50px;
    margin-top: 10px;
    margin-left: 500px; */
  
  }
  
  /* title and image both */
 .content .tops {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    /* background: linear-gradient(90deg, rgba(7,50,148,1) 0%, rgba(44,182,210,1) 0%, rgba(8,10,24,1) 0%, rgba(25,173,68,1) 50%, rgba(4,5,12,1) 100%, rgba(0,0,0,1) 100%, rgba(9,9,121,1) 100%, rgba(8,8,18,1) 100%);width: 100%; */
    /* background: black; */
    z-index: 999;
    width: 100%;
    height: 60px;
  
  }
  
  /* image setting */
  .tops .image {
  
    margin-left: 690px;
    margin-bottom: -20px;
    /* overflow: visible;   gaib nahi hota is se .....media query me is per kaaam karna he*/
  
  
  }
  
.image {
    width: 98vh;
    height: 15vh;
    /* display: flex; */
    /* flex-direction: column-reverse; */
    margin-top: 3px;
    margin-left: 1170px !important;
  }

 


  
@media screen and (max-width:800px) {

    
      /* admin title and image styling */
       .tops {
        margin-top: 50px;
        /* margin-left: 0px; */
        background-color: #333;
    
      }
    
      .tops .title {
        margin-left: 12px;
        font-size: 30px;
        color: white;
        font-weight: 400;
      }
    
      .image {
        width: 98vh;
        height: 15vh;
        /* display: flex; */
        /* flex-direction: column-reverse; */
        margin-top: 3px;

        margin-left: 310px !important; 
     /* flex-direction: row; */
     
     
      }
    
    }